body {
  background-color: cyan;
}
#app {
  width: 30%;
  margin: left;
  text-align: left;
}

.movie-list {
  border: 2px solid black;
  margin-bottom: 10px;
}

#title {
  border-bottom: 3px solid black;
}

.search {
  margin-bottom: 30px;
}

.reset-button {
  margin-left: 20px;
  cursor: pointer;
}

.reset-button:hover {
  color: green;
}

.add-movie {
  margin-bottom: 30px;
}

